<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% extends "../users/base.html %}
    {% load bootstrap3 %}

    {% block header %}
        <h2>Log in to your account</h2>
    {% endblock header %}

    {% block content %}
        <form method="post" action="{% url 'users:login' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button name="submit" class="btn btn-primary">log in</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'finance:index' %}" />
        </form>
    {% endblock content %}
</body>
</html>


<!--有待完善的地方-->
<!--1. 应该重定向到主页或者用户登录前所在的页面的-->
<!--2. 不认识block header-->